.home {
    background: linear-gradient(rgba(21, 84, 51, 0.627), rgba(21, 84, 51, 0.622)

), url('IMG_1238.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
